.card {
  padding: 24px;
  border-radius: 24px;
  background: #fbfbfb;
  display: flex;
  gap: 24px;
  position: relative;
}

.favor_btn {
  position: absolute;
  top: 24px;
  right: 24px;
  display: block;
  border: none;
  cursor: pointer;
  background-color: transparent;
  padding: 0;
}

.image_box {
  border: 2px solid rgba(240, 63, 59, 0.2);
  border-radius: 30px;
  padding: 12px;
  max-height: 120px;
  position: relative;
}

.image_icon {
  position: absolute;
  top: 9px;
  right: 14px;
  border-radius: 100%;
  fill: #38cd3e;
}

.avatar {
  border-radius: 15px;
}

.all_text {
  display: flex;
  flex-direction: column;
}

.all_text_one {
  display: flex;
  justify-content: space-between;
}

.box_name_text {
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  color: #8a8a89;
  margin: 0;
}

.nanny_name {
  font-weight: 500;
  font-size: 24px;
  line-height: 100%;
  color: #11101c;
  margin: 8px 0 0 0;
}

.box_block {
  display: flex;
  gap: 16px;
  margin-right: 48px;
  align-items: flex-start;
}

.address {
  display: flex;
  align-items: center;
  gap: 4px;
}

.block_icon {
  display: block;
}

.block_text {
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  color: #11101c;
  margin: 0;
}

.rating {
  display: flex;
  gap: 4px;
  align-items: center;
}

.span_green {
  color: #38cd3e;
}

.all_text_second {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  margin-bottom: 24px;
}

.age {
  background: #f3f3f3;
  border-radius: 24px;
  padding: 8px 16px;
  max-height: 40px;
}

.private_text {
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  color: #8a8a89;
  margin: 0;
}

.span_age {
  text-decoration: underline;
  text-decoration-skip-ink: none;
  color: #11101c;
}

.span_text_info {
  color: #11101c;
}

.experience {
  background: #f3f3f3;
  border-radius: 24px;
  padding: 8px 16px;
  max-height: 40px;
}

.kids_age {
  background: #f3f3f3;
  border-radius: 24px;
  padding: 8px 16px;
  max-height: 40px;
}

.characters {
  background: #f3f3f3;
  border-radius: 24px;
  padding: 8px 16px;
  max-height: 40px;
}

.education {
  background: #f3f3f3;
  border-radius: 24px;
  padding: 8px 16px;
  max-height: 40px;
}

.about {
  font-weight: 400;
  font-size: 16px;
  line-height: 125%;
  color: rgba(17, 16, 28, 0.5);
  margin: 0 0 14px 0;
}

.brn_more {
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  text-decoration: underline;
  text-decoration-skip-ink: none;
  color: #11101c;
  border: none;
  background: transparent;
  margin-right: auto;
  padding: 0;
}

.review {
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.review_name {
  display: flex;
  gap: 12px;
}

.name_one_letter {
  border-radius: 100px;
  width: 44px;
  height: 44px;
  background: rgba(240, 63, 59, 0.2);
}

.name_one_text {
  font-weight: 500;
  font-size: 20px;
  line-height: 100%;
  color: #f03f3b;
}

.name_full_icon {
  left: 0;
  bottom: 0;
  display: block;
}

.name_full_text {
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  color: #11101c;
  margin: 0;
}

.btn {
  top: 537px;
  left: 168px;
}

.card_btn {
  font-weight: 500;
  font-size: 16px;
  line-height: 125%;
  letter-spacing: -0.01em;
  color: #fbfbfb;
  border-radius: 30px;
  padding: 14px 28px;
  width: 215px;
  height: 48px;
  background: #f03f3b;
  cursor: pointer;
  border: none;
}

.card_btn:hover {
  color: #f03f3b;
  background: #fbfbfb;
}
