.hero {
  display: flex;
  flex-wrap: wrap;
  border-radius: 30px;
  overflow: hidden;
  margin: 0 auto;
  max-width: 1376px;
  padding: 0 20px;
}

.hero_left {
  width: 100%;
  background: #f03f3b;
  padding: 120px 20px 80px 20px;
}

.left_inner {
  display: flex;
  flex-direction: column;
  gap: 64px;
}

.hero_left,
.hero_right {
  flex: none;
  width: 100%;
}

.title {
  font-weight: 500;
  font-size: 32px;
  line-height: 110%;
  letter-spacing: -0.02em;
  color: #fbfbfb;
  margin-top: 0;
  margin-bottom: 16px;
}

.text {
  font-weight: 400;
  font-size: 16px;
  line-height: 120%;
  letter-spacing: -0.01em;
  color: #fbfbfb;
  margin: 0;
}

.btn_hero {
  border: 1px solid rgba(251, 251, 251, 0.4);
  border-radius: 30px;
  padding: 14px 32px;
  background-color: transparent;
  cursor: pointer;
  font-weight: 500;
  font-size: 16px;
  line-height: 120%;
  letter-spacing: -0.01em;
  text-decoration: none;
  color: #fbfbfb;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 12px;
}

.btn_hero {
  padding: 18px 50px;
  font-size: 20px;
  gap: 18px;
}

.btn_hero svg {
  width: 12px;
  height: 14px;
}

.btn_hero svg {
  fill: #fbfbfb;
  transition: transform 0.2s ease;
  cursor: pointer;
}

.btn_hero:hover svg {
  transform: rotate(55deg);
}

.btn_hero:hover {
  border: 1px solid rgba(251, 251, 251, 0.804);
}

.hero_right {
  position: relative;
  padding: 200px 20px 20px 20px;
  background-image: url(/HeroImages/Rectangle-1-min.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

@media screen and (min-resolution: 2dppx) {
  .hero_right {
    background-image: url(/HeroImages/Rectangle-2-min.jpg);
  }
}

.badge {
  padding: 20px;
  display: flex;
  border-radius: 20px;
  background: #fbfbfb;
  display: flex;
  align-items: center;
  gap: 12px;
  position: absolute;
  right: 20px;
  bottom: 20px;
}

.badge_icon {
  border-radius: 10px;
  width: 40px;
  height: 40px;
  background: #f03f3b;
  display: flex;
  align-items: center;
  justify-content: center;
}

.badge_text {
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.badge_text_nannies {
  font-weight: 400;
  font-size: 14px;
  color: rgba(17, 16, 28, 0.5);
  line-height: 1.2;
  margin-top: 0;
  margin-bottom: 0;
}

.badge_text_span {
  font-weight: 700;
  font-size: 20px;
  color: #11101c;
  line-height: 1.1;
}

@media screen and (min-width: 768px) and (max-width: 1439px) {
  .hero {
    padding: 0 40px;
  }

  .hero_left {
    padding: 201px 64px 163px 56px;
  }

  .hero_right {
    position: relative;
    padding: 518px 50px 50px 325px;
  }

  .title {
    font-size: 48px;
    line-height: 105%;
    letter-spacing: -0.025em;
    margin-bottom: 20px;
  }

  .text {
    font-size: 20px;
    line-height: 115%;
    letter-spacing: -0.015em;
  }

  .badge {
    position: absolute;
    right: 50px;
    bottom: 50px;
    padding: 32px;
    gap: 16px;
  }

  .badge_icon {
    width: 54px;
    height: 54px;
    border-radius: 13px;
  }

  .badge_text_nannies {
    font-size: 16px;
  }

  .badge_text_span {
    font-size: 24px;
  }
}

@media screen and (min-width: 1440px) {
  .hero {
    padding: 0;
    border-radius: 30px;
  }

  .hero_left,
  .hero_right {
    flex: 1 1 50%;
    min-width: 0;
  }

  .hero_left {
    padding: 251px 64px 163px 96px;
  }

  .hero_right {
    position: relative;
    padding: 568px 50px 50px 365px;
  }

  .title {
    font-size: 70px;
    line-height: 100%;
    letter-spacing: -0.03em;
    margin-bottom: 28px;
  }

  .text {
    font-size: 28px;
    line-height: 107%;
    letter-spacing: -0.02em;
  }

  .btn_hero {
    padding: 18px 50px;
    font-size: 20px;
    gap: 18px;
  }

  .btn_hero svg {
    width: 14px;
    height: 16px;
  }

  .badge {
    position: absolute;
    right: 50px;
    bottom: 50px;
    padding: 32px;
    gap: 16px;
  }
}
