.nannies_container {
  background: #f3f3f3;
  width: 100%;
}

.nannies {
  display: flex;
  flex-direction: column;
  max-width: 1440px;
  margin: 0 auto;
  padding: 40px 128px;
}

.btn_nannies {
  padding: 14px 40px;
  background: #f03f3b;
  font-weight: 500;
  font-size: 16px;
  line-height: 125%;
  letter-spacing: -0.01em;
  color: #fbfbfb;
  cursor: pointer;
  border: none;
  display: block;
  margin: 0 auto;
  border-radius: 30px;
}

.btn_nannies:hover {
  color: #f03f3b;
  background: #fbfbfb;
  border: 1px solid rgba(240, 63, 59, 1);
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .nannies {
    padding: 152px 20px;
    display: flex;
    flex-direction: column;
  }
}

@media screen and (min-width: 768px) and (max-width: 1439px) {
  .nannies {
    padding: 120px 40px;
  }
}

@media screen and (min-width: 1440px) {
  .nannies {
    padding: 152px 128px;
  }
}
