@media screen and (min-width: 320px) and (max-width: 767px) {
  .app_container {
    width: 100%;
    padding: 0 20px;
    margin: 0 auto;
  }
}

@media screen and (min-width: 768px) and (max-width: 1439px) {
  .app_container {
    width: 100%;
    padding: 0 40px;
    margin: 0 auto;
  }
}

@media screen and (min-width: 1440px) {
  .app_container {
    width: 100%;
    margin: 0 auto;
  }
}
