.header_container {
  z-index: 2;
  position: absolute;
  background-color: transparent;
  box-sizing: border-box;
  width: 100%;
  background-color: red;
  left: 0;
}

.header {
  position: relative;
  padding: 20px 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid rgba(251, 251, 251, 0.4);
  max-width: 1376px;
  margin: 0 auto;
}

.headerInNannies {
  position: relative;
  padding: 20px 40px;
  max-width: 1440px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  padding-left: 20px;
}

.logo_text {
  font-weight: 500;
  font-size: 20px;
  line-height: 117%;
  letter-spacing: -0.02em;
  color: #fbfbfb;
  text-decoration: none;
  transition:
    0.2s ease,
    text-shadow 0.2s ease;
}

.nav_text:hover,
.logo_text:hover {
  color: #ffffff;
  text-shadow:
    0 0 8px #ffffff,
    0 0 16px #ffffff;
}

.menu {
  display: flex;
  align-items: center;
  gap: 92px;
}

.navigation {
  display: flex;
  gap: 40px;
  margin: 0;
}

.menu {
  display: none;
}

.nav_text {
  font-weight: 400;
  font-size: 16px;
  line-height: 125%;
  letter-spacing: -0.01em;
  color: #fbfbfb;
  text-decoration: none;
  transition:
    0.2s ease,
    text-shadow 0.2s ease;
}

.nav_item {
  display: flex;
  flex-direction: column;
  gap: 4px;
  align-items: center;
}

.icon_point {
  fill: #fbfbfb;
}

.registration {
  display: flex;
  gap: 8px;
}

.registration {
  display: none;
}

.user_info {
  display: flex;
  gap: 14px;
  align-items: center;
}

.user_btn {
  cursor: pointer;
  padding: 8px;
  background-color: #fbfbfb;
  border: none;
  border-radius: 10px;
}

.icon_user {
  color: #f03f3b;
}

.user_text {
  font-weight: 500;
  font-size: 18px;
  line-height: 111%;
  letter-spacing: -0.01em;
  color: #fbfbfb;
}

.btn_log {
  font-weight: 500;
  font-size: 16px;
  line-height: 125%;
  letter-spacing: -0.01em;
  color: #fbfbfb;
  border: 1px solid rgba(251, 251, 251, 0.4);
  border-radius: 30px;
  padding: 14px 39px;
  background: transparent;
  cursor: pointer;
}

.btn_registration {
  font-weight: 500;
  font-size: 16px;
  line-height: 125%;
  letter-spacing: -0.01em;
  color: #fbfbfb;
  border-radius: 30px;
  padding: 14px 40px;
  background: #f03f3b;
  cursor: pointer;
  border: none;
}

.btn_inNannies {
  font-weight: 500;
  font-size: 16px;
  line-height: 125%;
  letter-spacing: -0.01em;
  color: #fbfbfb;
  border: 1px solid rgba(251, 251, 251, 0.4);
  border-radius: 30px;
  padding: 14px 39px;
  background: transparent;
  cursor: pointer;
}

.btn_logOut {
  font-weight: 500;
  font-size: 16px;
  line-height: 125%;
  letter-spacing: -0.01em;
  color: #fbfbfb;
  border-radius: 30px;
  padding: 14px 40px;
  background: #f03f3b;
  cursor: pointer;
  border: none;
}

.btn_registration:hover,
.btn_logOut:hover {
  color: #f03f3b;
  background: #fbfbfb;
}

.btn_inNannies:hover,
.btn_log:hover {
  color: #f03f3b;
  background: #fbfbfb;
  border: 1px solid rgba(240, 63, 59, 1);
}

.burger_btn {
  position: absolute;
  top: 16px;
  right: 20%;
  transform: translateX(20%);
  border: none;
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: auto;
}

.burger_icon {
  display: block;
  stroke: #fbfbfb;
}

@media screen and (min-width: 768px) and (max-width: 1439px) {
  .header {
    padding: 20px 76px;
  }
  .menu {
    display: none;
  }

  .burger_btn {
    position: absolute;
    top: 24px;
    right: 20%;
  }
}

@media screen and (min-width: 1440px) {
  .header {
    padding: 20px 96px;
  }

  .logo {
    padding-left: 0;
  }

  .menu {
    display: flex;
  }

  .logo_text {
    font-size: 24px;
  }

  .registration {
    display: flex;
  }

  .burger_btn {
    display: none;
  }

  .header {
    padding: 20px 96px;
  }

  .headerInNannies {
    max-width: 1440px;
    padding: 20px 128px;
  }
}
