.header {
  padding: 20px 128px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 2;
  position: absolute;
  top: 32px;
  left: 32px;
  right: 32px;
  background-color: transparent;
  box-sizing: border-box;
  border-bottom: 1px solid rgba(251, 251, 251, 0.4);
}

.logo_text {
  font-weight: 500;
  font-size: 24px;
  line-height: 117%;
  letter-spacing: -0.02em;
  color: #fbfbfb;
  text-decoration: none;
  transition: 0.2s ease, text-shadow 0.2s ease;
}

.nav_text:hover,
.logo_text:hover {
  color: #ffffff;
  text-shadow: 0 0 8px #ffffff, 0 0 16px #ffffff;
}

.menu {
  display: flex;
  align-items: center;
  gap: 92px;
}

.navigation {
  display: flex;
  gap: 40px;
  margin: 0;
}

.nav_text {
  font-weight: 400;
  font-size: 16px;
  line-height: 125%;
  letter-spacing: -0.01em;
  color: #fbfbfb;
  text-decoration: none;
  transition: 0.2s ease, text-shadow 0.2s ease;
}

.nav_item {
  display: flex;
  flex-direction: column;
  gap: 4px;
  align-items: center;
}

.icon_point {
  fill: #fbfbfb;
}

.registration {
  display: flex;
  gap: 8px;
}

.user_info {
  display: flex;
  gap: 14px;
  align-items: center;
}

.user_btn {
  cursor: pointer;
  padding: 8px;
  background-color: #fbfbfb;
  border: none;
  border-radius: 10px;
}

.icon_user {
  color: #f03f3b;
}

.user_text {
  font-weight: 500;
  font-size: 18px;
  line-height: 111%;
  letter-spacing: -0.01em;
  color: #fbfbfb;
}

.btn_log {
  font-weight: 500;
  font-size: 16px;
  line-height: 125%;
  letter-spacing: -0.01em;
  color: #fbfbfb;
  border: 1px solid rgba(251, 251, 251, 0.4);
  border-radius: 30px;
  padding: 14px 39px;
  background: transparent;
  cursor: pointer;
}

.btn_registration {
  font-weight: 500;
  font-size: 16px;
  line-height: 125%;
  letter-spacing: -0.01em;
  color: #fbfbfb;
  border-radius: 30px;
  padding: 14px 40px;
  background: #f03f3b;
  cursor: pointer;
  border: none;
}

.btn_logOut {
  font-weight: 500;
  font-size: 16px;
  line-height: 125%;
  letter-spacing: -0.01em;
  color: #fbfbfb;
  border-radius: 30px;
  padding: 14px 40px;
  background: #f03f3b;
  cursor: pointer;
  border: none;
}

.btn_logOut:hover {
  color: #f03f3b;
  background: #fbfbfb;
  border: 1px solid rgba(240, 63, 59, 1);
}

.btn_registration:hover {
  color: #f03f3b;
  background: #fbfbfb;
  border: 1px solid rgba(240, 63, 59, 1);
}

.btn_log:hover {
  color: #f03f3b;
  background: #fbfbfb;
 border: 1px solid rgba(240, 63, 59, 1);
}
